#jak{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

}
#no{
  text-align: left;
  font-weight: bold;
  font-size: 38px;
  padding-bottom: 10px;
  
}
#tabela1 {
  background-color: whitesmoke;
  width: 48%;
  height: 36px;
  float: left;
  position:relative;
  text-align:center;
  font-size: 2vw;
  font-weight: 500;
  border:3px solid #870004;
  line-height: 36px;
  }
#tabela2:hover{
    text-shadow: 1px 1px 2px white;
    cursor: pointer;
    }
#tabela2{
background-color: lightgray;
width: 48%;
height: 36px;
float: left;
position:relative;
text-align:center;
font-size: 2vw;
font-weight: 500;
border:3px solid #870004;
line-height: 36px;
}
#pustka{
  float: left;
  width: 2%;
  height: 39px;

  border-bottom: 3px solid #870004;
}
.lista{
clear: both;
width: auto;
}