#jak{
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;

}
#no{
  text-align: left;
  font-weight: bold;
  font-size: 38px;
  padding-bottom: 10px;
  
}
#tabela1 {
  background-color:#eeeeee;
  width: 45%;
  height: 36px;
  float: left;
  position:relative;
  text-align:center;
  font-size: 2vw;
  font-weight: 500;
  border:3px solid #870004;
  line-height: 36px;
  }
#tabela2:hover{
    text-shadow: 1px 1px 2px white;
    cursor: pointer;
    }
#tabela2{
background-color: lightgray;
width: 45%;
height: 36px;
float: left;
position:relative;
text-align:center;
font-size: 2vw;
font-weight: 500;
border:3px solid #870004;
line-height: 36px;
}
#pustka{
  float: left;
  width: 1%;
  height: 39px;
  border-bottom: 3px solid #870004;
}
#lista{
clear: both;
width: 93%;
text-align: center;
vertical-align: middle;
position: relative;

}
.lista1{
  margin-left:10% ; 
  float: left;
    font-size: 3vw;
    background-color: whitesmoke;
    border-radius: 100%;
    border: 3px solid #0c4b6de1; 
    width: 8vw;
    height:8vw;
    line-height: 8vw;
    margin-bottom: 2vw;
    
  }
.tekst{
  padding-top: 2.5vw;
  width: 65%;
  float: left;
 font-size: 1.5vw;
 padding-left: 5%;
 margin-right: 5%;
 text-align: justify;
font-weight: 600;
letter-spacing: 1px;
}