#container{
    width: 100%;
    margin: auto;
    background-color: white;
            color: black;
        font-family: 'Lato', sans-serif;
}
.tytul{
    border: 3px solid transparent;
   background-color: #fdc911;  
   text-align: center;
   padding-left: 1%;
   height: 100px;
   line-height: 100px;
}
#logo{
  float: left;
  width: 25%;

}
#nazwa{
  float: left;
  width:50%;
  font-size: 5.5vw;
  font-weight: 900;

 
}
.loguj{
  float: left;
  width:12%;
  font-size: 1.5vw;
  font-weight: 800;

}
.loguj:hover{
  text-shadow: 1px 1px 2px white;
  cursor: pointer;
  }

#menu{ 

  border: 3px solid black;
  background-color: #870004;
 
  }
  .option{
     float: left;
     width:25%;
     font-size: 1.5vw;
     font-weight: 500;
     text-align: center;
     height: 40px;
     line-height: 40px;
     }
  .option:hover{
     background-color: #760003;
     cursor: pointer;
     text-shadow: 1px 1px 2px white;
     }
  .foto{
    position: relative;
    margin: 0 auto;
    width: 100%;
   }
  a {
    text-decoration: none;
    color:black;
   }
footer{
  height: 20px;
  line-height: 20px;
  border: 3px solid transparent;
  background-color: #fdc911;  
  text-align: center;
}
  