body{
    
    background-color: white;
            color: black;
        font-family: 'Lato', sans-serif;
}
.tytul{
    table-layout: fixed;
   width: 100%;
   height: 86px;
  border-collapse: collapse;
  border: 3px solid #870004;
  background-color: #fdc911;
  position: relative;  
}

thead th:nth-child(1) {
  width: 20%;
}
thead th:nth-child(2) {
  width: 60%;
}
thead th:nth-child(3) {
  width: 10%;
}
thead th:nth-child(4) {
  width: 10%;
}
#menu{
    table-layout: fixed; 
    width: 100%;
  border-collapse: collapse;
  border: 3px solid #870004;
  background-color: #870004;
  }
  #podmenu{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .option{
     float: left;
     width: 238px;
     height: 25px;
     font-size: 18px;
     padding: 5px;
     border-right: 2px solid #017fb1;
     text-align: center;
     }
  .option:hover{
     background-color: #017fb1;
     cursor: pointer;
     }
  .foto{
    position: relative;
    margin: 0 auto;
    width: 100.2%;
   }
  a {
    text-decoration: none;
    color:black;
   }

  .nwm{
      padding-top: 0px;
      padding-right: 80px;
      padding-bottom: 0px;
      padding-left: 80px;
    }
  p{
    position:relative;
    text-align: left;
    font-weight: bold;
    font-size: 38px;
  }
  #jak {
    table-layout: fixed; 
    width: 100%;
    border-collapse: collapse;
    border:0px;
    position:relative;
    margin: 0 auto;
    text-align:center;
    border:3px solid #870004;
    
    }
  .nwm thead{
  border-bottom:3px solid #870004;
  text-align:center;
  font-weight: bold;
  font-size: 23px;
  }
  footer{
  text-align: center
  }
