body{
    
  background-color: white;
  background-size: auto, cover;
      color: black;
      font-family: 'PT Sans', sans-serif;
}
.tytul{
  table-layout: fixed;
 width: 100%;
border-collapse: collapse;
border: 3px solid #870004;
background-color: #fdc911;
position: relative;
margin: 0 auto;
display: inline-table;
font-size: 20px;

}

thead th:nth-child(1) {
width: 20%;
}
thead th:nth-child(2) {
width: 60%;
}
thead th:nth-child(3) {
width: 10%;
}
thead th:nth-child(4) {
width: 10%;
}
.menu{
  table-layout: fixed; 
  width: 100%;
border-collapse: collapse;
border: 3px solid #870004;
background-color: #870004;
position: relative;
margin: 0 auto;
display: inline-table;

}
.foto{
  position: relative;
  margin: 0 auto;
  width: 100.2%;

}
a {
  text-decoration: none;
  color:black;
}

h1{
margin: 0px;
padding: 20px;
color:transparent;
text-decoration: none;
font-size: 50px;
font-weight: 3000;
text-align: center;
text-shadow: 0 0 1px black;
}
h3 a {
font-size: 18px;
display: inline-table;
text-transform: lowercase;
text-shadow: 0 0 0.25px black;
letter-spacing: 1px;}


h3 a:hover{
color:#017fb1;
text-shadow: 0 0 5px #fff;
}
.menu a {
font-size: 18px;
font-weight: 1000;
display: inline-table;
text-transform: lowercase;
text-shadow: 0 0 1px white;
letter-spacing: 1px;}

.menu a:hover{
color:#017fb1;
text-shadow: 0 0 5px #fff;
}
.nwm{
    padding-top: 0px;
    padding-right: 80px;
    padding-bottom: 0px;
    padding-left: 80px;
  }
p{
  position:relative;
  text-align: left;
  font-weight: bold;
  font-size: 38px;
}
#jak {
  table-layout: fixed; 
  width: 100%;
  border-collapse: collapse;
  border:0px;
  position:relative;
  margin: 0 auto;
  text-align:center;
  border:3px solid #870004;
  
  }
.nwm thead{
border-bottom:3px solid #870004;
text-align:center;
font-weight: bold;
font-size: 23px;
}
footer{
text-align: center
}